@tailwind base;
@tailwind components;
@tailwind utilities;

/* グリッドパターンの背景 */
.bg-grid-white\/10 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}

